:root {
  --primary-color: rgb(138, 90, 58);
  --secondary-color: rgb(58, 44, 38);
  --button-color: rgba(196, 149, 123, 0.644);
  --hover-color: rgba(182, 123, 92, 0.644);
  --background-color: rgb(250, 221, 183);
  --accent-color: #e7b351;
  --box-shadow: 4px 4px 6px rgba(138, 90, 58, 0.5);
}

body {
  background: var(--background-color);
}

p {
  color: var(--secondary-color);
  font-family: "Quicksand", "Montserrat", sans serif;
  font-size: 15px;
}

.navbar {
  margin-bottom: 150px;
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
}

h1.logo-header {
  font-family: "Pacifico", "Lobster", cursive;
  font-size: 42px;
  color: var(--primary-color);
  text-align: center;
}

h3.enjoy {
  margin-top: 100px;
  font-size: 21px;
}

img.croissant-boy {
  padding: 0px;
  margin-bottom: 0px;
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}

a.index-btn {
  background: var(--button-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border: none;
  margin: 5px 7px;
}

a.index-btn:hover {
  background: var(--hover-color);
  color: white;
}

div.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 500px;
}

a.email {
  color: var(--primary-color);
}

a.email:hover {
  color: var(--accent-color);
}

div.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 95px 20px;
}

@media screen and (max-width: 768px) {
  img.bread {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
  }

  img.bread:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

img.bread {
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.25s ease;
}

img.bread:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

div.square {
  padding: 0px;
  margin: 0px;
}

div#recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
}

img.recipe-card {
  width: 550px;
  height: 350px;
  object-fit: cover;
}

div.card-body {
  margin-bottom: 100px;
}

i {
  color: rgba(138, 90, 58, 0.7);
}

strong {
  color: var(--primary-color);
}

div.nutrition {
  background: var(--background-color);
  padding: 10px;
}

h4.desc {
  text-align: center;
}
